

h1{
  text-align: center;
  
}
.github{
  text-align: center;
  text-decoration: underline;
  color:#333333;
}
.email{
  text-align: center;
  text-decoration: underline;
  color:#333333;
  padding: 20px;
 
}
.linkin{
  text-align: center;
  text-decoration: underline;
  color:#333333;
}

body{
  background-image: url('/assets/img/pexels2.jpg');
  height: 80%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
  background-blend-mode: multiply;
} 
